annotated-types
asttokens
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
comm
curl_cffi
debugpy
decorator
executing
frozendict
greenlet
holidays
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
multitasking
nest-asyncio
numpy
packaging
pandas
pandas-market-calendars
parso
peewee
pexpect
platformdirs
prompt_toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
py_lets_be_rational
py_vollib
pycparser
pydantic
pydantic_core
Pygments
python-dateutil
pytz
pyzmq
requests
scipy
simplejson
six
soupsieve
SQLAlchemy
stack-data
tornado
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
wcwidth
websockets
yfinance